.product-cart-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

.product-cart-card-container {
  margin: 1%;
  width: 400px;
  text-align: justify;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid aqua;
  box-shadow: 2px 2px rgb(175, 173, 173);
}

.product-cart-card-container:hover {
  box-shadow: 2px 2px rgb(94, 93, 93);
}

.product-cart-image {
  width: 200px;
  height: 100%;
}

.product-cart-content-text {
  padding: 2%;
}

.product-cart-total-value {
  margin: 10px;
}