.categories-list-container {
  display: flex;
  flex-direction: column;
  width: 13%;
  height: 100%;
  border: 1px solid aqua;
  margin: 5px;
  margin-top: 10px;
}

.categories-list-button {
  height: 35px;
  font-size: 11px;
  padding: 0;
  border: none;
  background: none;
  border: 1px solid aqua;
  background-color: whitesmoke;
}

.categories-list-button:hover {
  background-color: rgb(73, 73, 216);
} 