.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: aqua;
}

.header-search-bar-container {
  display: flex;
  align-items: center;
}

.header-search-bar-input {
  height: 25px;
  width: 350px;
  padding: 4px 8px;
  border: 2px solid aqua;
  border-radius: 5px;
}

.header-search-bar-input:hover {
  border: 2px solid rgb(46, 46, 138);
}

.links-header {
  text-decoration: none;
  color: black;
}

.header-search-icon {
  height: 25px;
  width: 25px;
  margin-left: 3px;
}