.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: aqua;
}

.header-search-bar-input {
  height: 25px;
  width: 350px;
  padding: 4px 8px;
  border: 2px solid rgb(58, 58, 223);
  border-radius: 5px;
  outline: none;
  background-image: url('../icons/searchIcon.png');
  background-size: 20px;
  background-position: 10px 8px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.header-search-bar-input:focus {
  border: 2px solid rgb(2, 2, 136);
}

.header-search-bar-input:hover {
  border: 2px solid rgb(46, 46, 138);
}

.links-header {
  text-decoration: none;
  color: black;
}